__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/
*.egg
.env
.venv
env/
venv/
*.so
.pytest_cache/
.mypy_cache/
*.ipynb_checkpoints/
/data/
wandb/
outputs/
lightning_logs/
*.ckpt
*.pth
*.pt
